<!DOCTYPE html>
{% extends "baseLoggedIn.html" %}
{% block content %}
<html lang="en">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<title>Problem</title>
<style type="text/css" media="screen">
    /*#edit {
        height: 100vh;
    }*/

    #editor {
        height: calc(100vh - 73px);
    }

    #submit {
        float:right;
    }

    #tester {
        width: 41.6%;
    }

    .scroll {
        height: calc(100vh - 73px);
        overflow-y: scroll;
    }

    .padded {
        padding-left: 15px;
        padding-right: 15px;
    }
</style>
</head>
<body onload="begin('{{ user }}', '{{ pid }}')">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 scroll">
            <a href="/" class="fixed-top padded">< Back</a>
          <div class="card" id="problem">
            <h5 class="card-header">Problem: {{ problemname }}</h5>
            <div class="card-body">
              {{ problemstate }}
            </div>
          </div>
          <div class="row fixed-bottom">
              <div class="card d-none" id="tester">
                <h5 class="card-header">Submission Results</h5>
                <div class="card-body">Test</div>
              </div>
          </div>
        </div>
        <div class="col-md-7">
            <div class="card bg-dark" id="edit">
                <div class="card-header">
                    <div class="btn-group">
                      <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Java</button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Java</a>
                        <a class="dropdown-item" href="#">Python</a>
                        <a class="dropdown-item" href="#">C++</a>
                      </div>
                    </div>
                    <button type="button" class="btn btn-sm btn-secondary" id="submit">Submit</button>
                </div>
                <div id="editor">public class Solution {
    public static void main(String[] args) {

    }
}</div>
            </div>
        </div>
    </div>
</div>

<script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/ace-builds/src-noconflict/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
<script>
    function setLanguage(language, editor, id, pid) {
        if (language == "Java") {
            loadLanguage('java', editor, id, pid);
            editor.session.setMode("ace/mode/java");
        }
        if (language == "Python") {
            loadLanguage('py', editor, id, pid);
            editor.session.setMode("ace/mode/python");
        }
        if (language == "C++") {
            loadLanguage('cpp', editor, id, pid);
            editor.session.setMode("ace/mode/c_cpp");
        }
    }

    function loadLanguage(lang, editor, id, pid) {
        fetch("/get_code/"+id+"/"+pid+"/Solution."+lang) // Call the fetch function passing the url of the API as a parameter
        .then(res => res.text())
        .then(function(text) {
            editor.setValue(text);
            editor.gotoLine(1);
        })
        .catch(function(error) {
            console.log(error);
        });
    }

    function updateCode(editor, id, pid) {
        code_content = editor.getValue();
        lang = $(".dropdown-menu").closest(".btn-group").find('.btn').text()
        if (lang == "Java") lang = "java";
        if (lang == "Python") lang = "py";
        if (lang == "C++") lang = "cpp";
        fetch("/write_code/"+id+"/"+pid+"/Solution."+lang, {
            method: "post",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                code: code_content
            })
        })
        console.log("updated code");
    }

    function begin(id, pid) {
        ace.require("ace/ext/language_tools");

        function updateInternal() {
            updateCode(editor, id, pid);
        }

        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/java");
        editor.setOptions({
                enableBasicAutocompletion: true,
                enableSnippets: true,
                enableLiveAutocompletion: false
        });

        var menus = $(".dropdown-menu");
        menus.on('click', 'a', function(el) {

          var clickedElement = $(el.currentTarget);
          var updateText = clickedElement.text();
          var updateElement = $(el.currentTarget).closest(".btn-group").find('.btn');

          if (updateElement.text() != updateText) {
            updateInternal()
            updateElement.text(updateText);
            updateElement.val(updateText);
            setLanguage(updateText, editor, id, pid);
          }

        });

        setLanguage("Java", editor, id, pid);

        setInterval(updateInternal, 30000);
    }
</script>
</body>
</html>
{% endblock %}
