<!DOCTYPE html>
{% extends "baseLoggedIn.html" %}
{% block content %}
<html>
  <head>
    <title>Landing</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Problem</title>
  </head>
  <body>
    <div>
      <p>Welcome {{ user }}!</p>
      <form action="/newproblem">
      <button type="submit">Create Problem</button>
      </form>
    </div>
    <br>
    <div style="width: 200px;">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Created Problems</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for name in arr1 %}
          <tr><td><a href = {{ url_for('edit', title=name) }}>{{ name.0 }}</a></td></tr>
          {# Displays url for specified story #}
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
    <table border = "1">
    <tr><th>Created Problems</th></tr>
        {% for name in arr1 %}
        <tr><td><a href = {{ url_for('edit', title=name) }}>{{ name.0 }}</a></td></tr>
        {# Displays url for specified story #}
        {% endfor %}
      </table>
      <table border = "1">
      <tr><th>Problems In Progress</th></tr>
          {% for name in arr2 %}
          <tr><td><a href = {{ url_for('edit', title=name) }}>{{ name.0 }}</a></td></tr>
          {# Displays url for specified story #}
          {% endfor %}
        </table>
        <table border = "1">
        <tr><th>Problems Done</th></tr>
            {% for name in arr3 %}
            <tr><td><a href = {{ url_for('edit', title=name) }}>{{ name.0 }}</a></td></tr>
            {# Displays url for specified story #}
            {% endfor %}
          </table>
  </body>
</html>
{% endblock %}
